{% extends 'base.html'%}
{% load static %}
{% block title%}
details
{% endblock %}
{% block x %}
<div class="fs-2 text-center">Details<b class="text-mycolor"></b>
    <i class="fa-solid fa-video sicon text-mycolor"></i></b></div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">
        {% for x in vdata %}
            <div class="col-sm-12">
                <div class="card">
                    <iframe class=" w-100 img-card-top" style= "min-height:350px" src="{{x.vlink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-tile">{{x.vtitle}}</h5>
                        <p>
                            {{x.vdes}}

                        </p>

                        <span class="btn btn-sm btn-yourcolor">
                            <i class="fa-solid fa-calendar-days"></i> {{x.vdate}}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>



{% endblock %}